Mad_Max 1.6
nb_players        4
nb_rounds       500
nb_cities         8
nb_warriors      20
nb_cars           3
warriors_health  40
cars_fuel       100
damage            6
rows             60
cols             60

FIXED

.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R.................R.................R........R.......
RRRRRRRSRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRSRRRRRRR
.......R.................R.................R........R.......
.......R.................R.................R........R.......
.......R...0..0..0..0....R..WWWWWWWWWWWW...R........R.......
.......R...0000000000....R.............W...R..1111..R.......
.......R...0000000000....R.............W...R...11...R.......
.......R...0..0..0..0....R..XXXXXXX....W...R...11...R.......
.......R.................R.................R..1111..R.......
.......R.................R.................R...11...R.......
RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRSRRRRRRRRR...11...R.......
.......R........R........R........R........R..1111..R.......
.......R........R........R.222222.R........R...11...R.......
.......R........R...WW...R.2.22.2.R........R...11...R.......
.......R..WWWW..R...WW...R.2.22.2.R..WWWW..R..1111..R.......
.......R..W.....R...WW...R.2.22.2.R..WWWW..R........R.......
.......R..W.....R...WW...R.2.22.2.R........R........R.......
.......R..W.....R........R.222222.R........R........R.......
.......R..W.....R........R........R........R........R.......
.......R..W..X..SRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
.......R..W..X..R........R........R........R........R.......
.......R..W..X..R.111111.R........R.333333.R........R.......
.......R..W..X..R.1....1.R........R.3....3.R..X..W..R.......
.......R..W..X..R.111111.R...WW...R.333333.R..X..W..R.......
.......R..W..X..R.111111.R...WW...R.333333.R..X..W..R.......
.......R..W..X..R.1....1.R........R.3....3.R..X..W..R.......
.......R........R.111111.R........R.333333.R..X..W..R.......
.......R........R........R........R........R..X..W..R.......
RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRS..X..W..R.......
.......R........R........R........R........R.....W..R.......
.......R........R........R.000000.R........R.....W..R.......
.......R........R........R.0.00.0.R...WW...R.....W..R.......
.......R........R..WWWW..R.0.00.0.R...WW...R.....W..R.......
.......R..3333..R..WWWW..R.0.00.0.R...WW...R..WWWW..R.......
.......R...33...R........R.0.00.0.R...WW...R........R.......
.......R...33...R........R.000000.R........R........R.......
.......R..3333..R........R........R........R........R.......
.......R...33...RRRRRRRRRSRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
.......R...33...R.................R.................R.......
.......R..3333..R.................R.................R.......
.......R...33...R...W....XXXXXXX..R....2..2..2..2...R.......
.......R...33...R...W.............R....2222222222...R.......
.......R..3333..R...W.............R....2222222222...R.......
.......R........R...WWWWWWWWWWWW..R....2..2..2..2...R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
RRRRRRRSRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRSRRRRRRR
.......R........R.................R.................R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
.......R........R.................R.................R.......
